.container {
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 600;
}

.sub-title {
    font-size: 16px;
    color: #e6e9ee;
    margin-left: 5px;
}

.time-details {
    text-align: right;
    font-size: 14px;
    font-weight: 300;
}

.single-details span {
    font-weight: 600;
    margin-left: 5px;
}

.badge {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;

}

.badge.success {
    background: #064e3b;
    color: #22c55e;
}

/* Cards */
.cards {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    background: #1e293b;
}

.card.green {
    border-left: 4px solid #22c55e;
}

.card.red {
    border-left: 4px solid #ef4444;
}

.card.gray {
    border-left: 4px solid #64748b;
}

.card.blue {
    border-left: 4px solid #3b82f6;
}

/* Charts */
.charts {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.chart-box {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    min-height: 200px;
}

.chart-title {
    font-size: 19px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chart-title i {
    margin-right: 8px;
}

/*Environment Details */
.env-box {
    padding: 20px;
    border-radius: 12px;
    max-width: 450px;
}

.env-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.label {
    width: 120px;
    color: #94a3b8;
}

.icon {
    width: 20px;
    text-align: center;
    font-size: 18px;
}

/* Colors for icons */
.chrome {
    color: #22c55e;
}

.windows {
    color: #3b82f6;
}

.env {
    color: #facc15;
}

.link {
    color: #38bdf8;
}

.framework {
    color: #a78bfa;
}

/* Table */
.table-section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #334155;
}

.success {
    color: #22c55e;
}

.fail {
    color: #ef4444;
}